body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    background-color: #393E46;
    color: #E3DCC6;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    text-shadow: 4px 4px 4px #000000;
}


/* ---SELECTOR DE PERSONAJES--- */

.titulo-sel-pjs {
    color: #CFA34D;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #000000;
}

/* El selector de personajes esta compuesto por dos grids: El primero (con la clase .sel-personajes) contiene tres bloques donde uno muestra el personaje seleccionado por el jugador, otro el personaje del cpu y el del medio muestra el roster de personajes. El segundo (con la clase .contenedor-pjs) es el roster de personajes en si, donde contiene a los 16 personajes seleccionables */

.contenedor-sel-pjs {
    display: flex;
    justify-content: center;
}

.sel-personajes {
    justify-content: center;
    align-items: center;
    display: grid;
    border: 2px solid #000000;
    box-shadow: 2px 2px 4px #000000;
    width: fit-content;
    grid-template-columns: 300px 600px 300px;
    grid-template-rows: 600px 40px;
    grid-template-areas: 
    "jugador personajes cpu"
    "nombre-jugador vs nombre-cpu"
    ;
}

/* --Roster de personajes-- */

.pj-jugador, .contenedor-pjs, .pj-cpu,
.nombre-pj-jugador, .vs, .nombre-pj-cpu {
    outline: 2px solid #000000;
}

.contenedor-pjs {
    grid-area: personajes;
    background-image: url(../media/sel-personajes-fondo.png);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    width: 600px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: 
    "amazonas barbaro bardo brujo"
    "caballero cazador druida guerrero"
    "mago monje nigromante ninja"
    "paladin picaro sacerdote valquiria"
    ;

}

.personaje-1 {
    grid-area: amazonas;
}

.personaje-2 {
    grid-area: barbaro;
}

.personaje-3 {
    grid-area: bardo;
}

.personaje-4 {
    grid-area: brujo;
}

.personaje-5 {
    grid-area: caballero;
}

.personaje-6 {
    grid-area: cazador;
}

.personaje-7 {
    grid-area: druida;
}

.personaje-8 {
    grid-area: guerrero;
}

.personaje-9 {
    grid-area: mago;
}

.personaje-10 {
    grid-area: monje;
}

.personaje-11 {
    grid-area: nigromante;
}

.personaje-12 {
    grid-area: ninja;
}

.personaje-13 {
    grid-area: paladin;
}

.personaje-14 {
    grid-area: picaro;
}

.personaje-15 {
    grid-area: sacerdote;
}

.personaje-16 {
    grid-area: valquiria;
}

.personaje-1, .personaje-2, .personaje-3, .personaje-4, .personaje-5, .personaje-6, .personaje-7, .personaje-8, .personaje-9, .personaje-10, .personaje-11, .personaje-12, .personaje-13, .personaje-14, .personaje-15, .personaje-16 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-pj {
    width: 80px;
    border: 2px solid #000000;
}

.img-pj:hover {
    width: 90px;
}

.nombre-pj-jugador {
    grid-area: nombre-jugador;
    background-color: #2F4F2F;
}

.vs {
    grid-area: vs;
    font-size: 30px;
    background-color: #6B6B6B;
}

.nombre-pj-cpu {
    grid-area: nombre-cpu;
    background-color: #8B1A1A;
}

.nombre-pj-jugador, .vs, .nombre-pj-cpu {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    display: block;
}

/* ---Boton que abre el Offcanvas que muestra el historial--- */

.btn-historial {
    display: flex;
    margin: auto;
    color: #E3DCC6;
    background-color: #8B1A1A;
    border: 2px solid #000000;
    border-top: none;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 2px 2px 4px #000000;
}

.btn-historial:hover {
    background-color: #B22222;
    border: 2px solid #000000;
    border-top: none;
}

.btn-historial:active {
    background-color: #5C0F0F;
    border: 2px solid #000000;
    border-top: none;
}

/* ---Estilo del Offcanvas--- */

.offcanvas-titulo {
    background-color: #CFA34D;
    font-weight: bold;
}

.offcanvas-estilo {
    background-color: #E3DCC6;
    font-weight: 400;
}

/* ---Boton de incio del combate--- */

.btn-iniciar-combate {
    display: block;
    margin: 0px auto;
    background-color: #CFA34D;
    color: #1F1F1F;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 30px;
    border: 2px solid #1F1F1F;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 0 #0000004D;
    transition: all 0.15s ease-out;
    outline: none;
}

.btn-iniciar-combate:hover {
    background-color: #B99436;
    color: #1F1F1F;
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #00000059;
}

.btn-iniciar-combate:active {
    background-color: #8C6E22;
    transform: translateY(2px);
    box-shadow: 0 2px 0 #00000040;
    transition-duration: 0.05s;
}

/* ---Titulo Combate--- */

.titulo-combate {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #CFA34D;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 20px;
}

/* ---Contenedor de la pelea--- */

.contenedor-pelea {
    display: block;
    background-color: #E3DCC6;
    color: #222831;
    text-align: center;
    font-size: 20px;
    width: 40%;
    height: 300px;
    overflow-y: auto;
    margin: auto;
    border: #222831 solid 2px;
    box-shadow: 2px 2px 4px #000000;
}

.contenedor-pelea h1, h2, h3{
    color: #8B5E3C;
    font-weight: 800;
}

.round {
    font-family: "MedievalSharp", cursive;
    font-style: normal;
}

.round-num {
    font-weight: bold;
    font-size: 30px;
}

.empate {
    color: #8B5E3C;
    font-style: italic;
}

.ataque-jugador strong {
    color: #2F4F2F;
}

.golpe-jugador, .hp-jugador {
    color: #2F4F2F;
    font-weight: bold;
}

.ataque-cpu strong {
    color: #8B1A1A;
}

.golpe-cpu, .hp-cpu{
    color: #8B1A1A;
    font-weight: bold;
}

.hp {
    color: #222831;
    font-weight: lighter;
}

.dano {
    color: #8B5E3C;
    font-weight: bold;
}

/* ---Boton para reiniciar la pelea--- */

.contenedor-reinicio {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn-reinicio {
    padding: 10px;
    background-color: #CFA34D;
    color: #1F1F1F;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-reinicio:hover {
    background-color: #B99436;
    border: 2px solid #000000;
}

.btn-reinicio:active {
    background-color: #8C6E22;
    border: 2px solid #000000;
}

/* ---Contenedor Historial--- */

.contenedor-historial {
    display: block;
    background-color: #E3DCC6;
    color: #222831;
    text-align: center;
    width: 200px;
    height: auto;
    margin: 50px auto;
}

.contenedor-historial h3 {
    font-size: 20px;
    color: #222831;
}

.btn-borrar-hist {
    background-color: #8B1A1A;
    color: #E3DCC6;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-borrar-hist:hover {
    background-color: #B22222;
    color: #E3DCC6;
    border: 2px solid #000000;
}

.btn-borrar-hist:active {
    background-color: #5C0F0F;
    color: #E3DCC6;
    border: 2px solid #000000;
}

/* ---Sweet Alert del fin del combate--- */

.win-popup {
    background-color: #393E46;
    border: 2px solid #000000;
    color: #E3DCC6;
}

.img-borde {
    border: 1px solid #000000;
}

.btn-confirmar {
    background-color: #CFA34D;
    color: #1F1F1F;
    border: 1px solid #000000;
}

.btn-confirmar:hover {
    background-color: #B99436;
}

.btn-confirmar:active {
    background-color: #8C6E22;
}